.nav a{
    color: rgb(204, 94, 43);
    font-size: 12px;

}

.contact-icon{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

label{
    display: block;
}

.buttons{
    margin-top: 20px;
}

.forms{
    text-align: center;
}